#remote_video {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444;
    height: 100vh;
    width: calc(100vh / 3 * 4);
}

#button_container {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: calc(100vh / 3 * 4);
    text-align: center;
}

#message_container {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: calc(100vh / 3 * 4);
    text-align: center;
}

.rotate {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#skyway {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 100vh / 3 * 4);
    object-fit: contain;
    object-position: 50% 0;
}

